rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null && 
        (request.auth.token.email_verified == true || 
         request.auth.token.firebase.sign_in_provider == 'google.com');
    }

    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email in [
          "maitreya.mul@gmail.com",
          "manishm9730@gmail.com",
          "zorbainfotech@gmail.com",
          "zorbasquad@gmail.com",
          "maitreyam@google.com"
        ]);
    }

    match /products/{fileName} {
      allow read: if true;
      allow write: if isAdmin() 
                   && request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
      allow delete: if isAdmin();
    }
  }
}
