rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && 
        (request.auth.token.email == "maitreya.mul@gmail.com" ||
         request.auth.token.email == "manishm9730@gmail.com" ||
         request.auth.token.email == "zorbainfotech@gmail.com" ||
         request.auth.token.email == "zorbasquad@gmail.com" ||
         request.auth.token.email == "maitreyam@google.com");
    }

    match /products/{allPaths=**} {
      allow read: if true;
      allow write, delete: if isAdmin();
    }
  }
}
